.container__home {
  width: 100%;
  padding: 1.5rem;
}

.container__home__user {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

a{
  text-decoration: none;
}

.container__home__user-texts{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.container__home__user-texts button{
  width: 25%;
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: #fff;
  border: none;
  outline: none;
  background-color: #c7781f;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container__home__user-texts button:hover{
  background-color: #cc8534;
}

.container__home__user-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    background-image: url("/src/resources/imgs/banner2.png");
    background-repeat: no-repeat;
}

.container__home__recommended{
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.container__home__recommended-divs{
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 1rem;
}

.container__home__recommended-divs-rr{
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 10px; /* Espacio entre los divs */
}

.recommended-div{
  display: flex;
  width: 50%;
  border-radius: .5rem;
  height: 250px;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recommended-div-rr{
  display: flex;
  width: 100%;
  border-radius: .5rem;
  height: 250px;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recommended-div:hover{
  background-color: #cc8534;
}

.recommended-div-rr:hover{
  background-color: #cc8534;
}

.recommended-div-img{
  width: 25%;
  height: 100%;
  background-color: gray;
  border-radius: .5rem;
}

.recommended-div-img img{
  width: 100%;
  height: 100%;
}

.recommended-div-text{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  width: 70%;
}

.recommended-div-text button{
  width: 30%;
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: #fff;
  border: none;
  outline: none;
  background-color: #5513ac;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recommended-div-text button:hover{
  background-color: #6f2cc7;
}

.container__home__popular{
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.container__home__popular-divs{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 10px; /* Espacio entre los divs */
}

.popular-div{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  height: 233px;
  gap: 1rem;
  border-radius: .5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.popular-div:hover{
  background-color: #cc8534;
}

.popular-div-img{
  width: 25%;
  height: 80%;
  background-color: gray;
}

.popular-div-img img{
  width: 100%;
  height: 100%;
}